{
    "presets": ["env", "es2015", "react"],
    "ignore" : [
        "WebContent/resources/**/*.js",
        "**/resources",
        "**/test",
        "**/model",
        "**/localService"
    ]
  }